<div lang="en" dir="ltr">
<meta name="format-detection" content="date=no"><!-- there are no dates in this email to link to calendars, and verse refs are not times -->

<p>Hi,</p>
<p>Here is today's selection of verses from the Hebrew Bible.</p>
<table>
  <tr>
    <th>Section</th>
    <th>Verse Content</th>
    <th>Ref</th>
    <th>Links</th>
  </tr>
  <% verses.each do |group_name, (n, ref, content)| %>
    <tr>
      <td>
        <%= group_name %>
      </td>
      <td style="font-family:serif; font-size:24px" lang="he" dir="rtl">
        <%= content %>
      </td>
      <td style="background:black; color:black">
        <%= ref %>
      </td>
      <td>
        <a href="<%= ref.refly_url("wivumorph") %>">Hebrew</a>
        <a href="<%= ref.biblehub_url("text") %>">Parsed</a>
        <a href="<%= ref.biblehub_url("interlinear") %>">Interlinear</a>
        <a href="<%= ref.biblehub_url %>">English</a>
      </td>
    </tr>
  <% end %>
</table>

</div>
