<div lang="en" dir="ltr">

<p>Hi,</p>
<p>Here is today's selection of verses from the Hebrew Bible.</p>
<table>
  <tr>
    <th>Section</th>
    <th>Verse Content</th>
    <th>Ref</th>
    <th>Links</th>
  </tr>
  <% verses.each do |group_name, (n, ref, content)| %>
    <tr>
      <td>
        <%= group_name %>
      </td>
      <td style="font-family:serif; font-size:24px" lang="he" dir="rtl">
        <%= content %>
      </td>
      <td style="background:black; color:black">
        <%= ref %>
      </td>
      <td>
        <a href="http://ref.ly/<%= ref.book %><%=ref.english_verse.sub(':', '.') %>;leb">English</a>
        <a href="http://ref.ly/<%= ref.book %><%=ref.english_verse.sub(':', '.') %>;wivumorph">Hebrew</a>
        <a href="logosref:BibleBHS.<%= ref.book %>%20<%=ref.hebrew_verse %>">Logos</a>
        <a href="logosres:wivumorph;ref=BibleBHS.<%= ref.book %>%20<%=ref.hebrew_verse %>">Logos:Hebrew</a>
      </td>
    </tr>
  <% end %>
</table>

</div>
